.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
android/.gradle/
android/key.properties
android/app/*.jks
android/app/*.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
*.iml
*.log
.DS_Store
